<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <%= link_to 'Mr Cocktail', cocktails_path, class: 'navbar-brand text-light' %>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <%= link_to 'Create cocktail', new_cocktail_path, class: 'nav-link btn btn-light' %>
    </li>
  </ul>
</nav>
